@inherits LayoutComponentBase

@*This Component establishes the switching buttons between the Bookstable and the OrderTable*@
<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Indo-Burma Administration</span>
            </div>
            <div class="col-2 text-right">
@*Logout button on every admin page*@
                <a class="btn btn-secondary" href="/account/logout">Log out</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row p-2">

        <div class="col-2">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/books"
                         ActiveClass="btn-info text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                <NavLink class="btn btn-outline-primary" href="/admin/orders"
                         ActiveClass="btn-info text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
            </div>

        </div>

        <div class="col">
            @Body
        </div>
    </div>

</div>