@page "/admin"
@*Make this an authorized page*@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model Indo_Burma.Pages.admin.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Indo-Burma Bookstore Administration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <base href="/" />
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server" />
    @*This java script is seen by the startup file by endpoints.MapBlazorHub();*@
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>