@{
    ViewData["Title"] = "Books";
}
@model BooksViewModel

<h1 class="d-flex justify-content-center p-2">Indo Burma Books</h1>
<div class="Container">
    <div class="row">
        @foreach (Book b in Model.Books)
        {
            // sends Looks for the book details list of information
            <partial name="BookDetails" model="b" />
        }
    </div>
    </div>
    <br />
    @*Have to import @tag helpers with the right name for these to turn purple*@
    <div class="d-flex justify-content-center">
        <strong>
            @*This is sent to a page info model to keep track of what has happend on a page.*@
            <div page-indicator="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
                    page-class="btn" page-class-normal="btn-outline-dark"
                    page-class-selected="btn-primary" class="btn-group pull-right m-1">

            </div>
        </strong>
    </div>
